/* GLOBAL - app.css */

/* NAV */
.logo {
  transform: translateY(-5px);
}
.brand {
  font-size: 1.8rem;
  margin-left: 10px;
}
.navbar {
  font-size: 1.4rem;
}
.nav-link {
  /* padding: .5rem; */
  margin-left: 30px;
}
/* LANDING */
.header{
  text-align: center;
  margin: 100px auto;
}
.left {
  text-align: left;
}
.hero {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0), 
                              rgba(255, 255, 255, 1)),
              url("../Assets/hero.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 6vh;
}
.hero h1 {
  padding-top: 2.5rem;
  font-size: 10rem;
}
.hero2 {
  width: 40%;
  margin: auto;
  color:cadetblue;
}
.hero2 h1 {
  font-weight: 200;
  font-size: 2.8rem;
}
.featured {
  margin-top: 150px;
  padding: 3rem;
  color: rgb(60, 125, 163);
  font-weight: 200;
  font-size: 5rem;
}
/* TASKS */
.tasks-hero {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0), 
                              rgba(255, 255, 255, 1)),
              url("https://images.pexels.com/photos/7176026/pexels-photo-7176026.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
              /* url("https://images.pexels.com/photos/4145355/pexels-photo-4145355.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 6vh;
  height: 30vh;
}
.tasks-hero h1, .experts-hero h1 {
  font-size: 6rem;
  text-shadow: 1px 2px #0f0f0f;
}
.item-hover{
  transition: all 0.3s ease;
}
.item-hover:hover {
  transform: scale(1.03);
}
.find-task input {
  padding: 8px;
  margin: 10px;
}
.find-task label {
  padding: 8px;
  margin: 10px;
}
/* EXPERTS */
.experts-hero {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0), 
                              rgba(255, 255, 255, 1)),
              url("https://images.pexels.com/photos/3760529/pexels-photo-3760529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 6vh;
  height: 30vh;
}
.experts {
  margin-bottom: 3.5rem;
}
.text span{
 color: grey;
 font-weight: 100;
}
/* FOOTER */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100wv;
  height: 100px;
  background-color: rgb(42, 46, 49);
  padding-top: 2rem;
}
.subscribe, .social {
  display: inline-block;
  color: white;
  width: 45%;
  height: 40px;
  font-size: 1.2rem;
}
.subscribe input {
  margin-right: 20px;
  margin-left: 50px;
}

button, .button {
  background-color: rgb(60, 125, 163);
  border: 2px;
  color: white
}
#subemail, button {
  border-radius: 7px;
  border: none;
  text-align: center;
  line-height: 2.4rem;
}
button:hover, .button:hover {
  font-weight: 400;
  background-color: black;
  color: white;
  background-color: rgb(90, 168, 214);

}
.social div{
  display: flex;
  justify-content: space-evenly;
}
/* RESPONSIVE QUERIES */
@media only screen and (max-width: 1000px) {
  .hero h1 {
    font-size: 8rem;
  }
  .footer {
    height: 200px;
  }
  .subscribe, .social {
    width: 100%;
    height: 80px;
  }
  .hero2 {
    width: 60%;
    margin: auto;
  }
  .tasks-hero h1, .experts-hero h1 {
    font-size: 3.5rem;
  }
  .find-task input {
    padding: 4px;
    margin: 8px;
  }
}
